<main class='home-container'>
 <div class='homepage'>
  <div class='header-message'>
   <h1 class='text-center'>TutorMont
     <span class="typer" id="main" data-words="is new,is fun,is innovative," data-colors="#" data-delay="100" data-deleteDelay="1000"></span>
     <span class="cursor" data-owner="main"></span>
   </h1>
    <p class='text-center'>Platform connecting students with tutoring needs, to those who can tutor them.</p>
   </div>
   {{#if currentUserId}}
    <div class='header-body'>
     <h3 style='margin-top: -45px; margin-bottom:15px;'>Find A Tutor</h3>
     <form method='get' action='/users' class='search-button'>
      <input type='text' class='form-control' placeholder='Search a name or class' name='search' style='margin-right:3px;'>
      <button type='submit' class='btn btn-primary btn-lg search-button' name="search_type" value='name' style='width:100px; border-radius: 10px;'><i class='fa fa-search'></i></button>
     </form>
   </div>
   {{/if}}
   </div>
 </main>
