<div class='home-container'>
  <div class='homepage'>
    <div class='login-input'>
      <h3>Log-in</h3>
    <form action='/login' method='post' class='login-form'>
      <div class='login-info' style='margin-bottom: 15px;'>
       <input type="text" name="username" class="form-control" id="user-username" placeholder="username" autocomplete="off">
      </div>
      <div class='login-info' style='margin-bottom: 15px;'>
       <input type="password" name="password" class="form-control" id="user-password" placeholder="password" autocomplete="off">
      </div>
    <div class='login-submit text-center' style='margin-bottom: 5px;'>
      <button type="submit" class="btn btn-primary">Log-in</button>
    </div>
    <div class='text-center'>
      <p>Don't have an account? <a href="/users/new">Sign up!</a></p>
    </div>
    </form>
    </div>
  </div>
</div>
