
<div class='homepage'>
    <div class='review-new'>
        <form method="POST" action="/users/{{userId}}/reviews">
            <div class="form-group text-center">
                <label for="reviewBody" style='font-size: 20px'>Write a Review</label>
                <textarea name="body" class="form-control" id="reviewBody" cols='100' placeholder="How was your session"></textarea>
            </div>
            <div class='text-center'>
            <button type="submit" class="btn btn-primary">Post Review</button>
            </div>
        </form>
    </div>
</div>
