<div class='myContainer'>
  <div class='homepage'>
    {{#if reviews}}
    <div class='text-center review-header'>
        <h2>Reviews</h2>
    </div>
    {{#each reviews as |review|}}
    <div class='review'>
    <p class='review-body'>{{review.body}}</p>
    <hr>
    <p class='review-time'>Posted {{review.createdAt}}</p>
    </div>
    {{/each}}
    {{else}}
    <div class='homepage'>
      <div>
        <h3>No Review has been posted on this tutor
      </div>
      <div>
      <a class='btn btn-primary btn-lg' onclick='goBack()'><i class='fa fa-arrow-circle-left'></i></a></h3>
    </div>
    </div>
    {{/if}}
</div>
</div>








<script>
function goBack() {
    window.history.back();
}
</script>
